    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <br/><br/>
                <h2>About PMD</h2>
                <br/>
                <p>
                    <strong>PMD</strong> is an extensible multilanguage static code analyzer. It finds common programming flaws like unused variables,
                    empty catch blocks, unnecessary object creation, and so forth. It's mainly concerned with <strong>Java and
                    Apex</strong>, but <strong>supports 16 other languages</strong>. It comes with <strong>400+ built-in rules</strong>. It can be
                    extended with custom rules. It uses JavaCC and Antlr to parse source files into abstract syntax trees
                    (AST) and runs rules against them to find violations. Rules can be written in Java or using a XPath query.
                </p>
                <p>
                    Currently, PMD supports Java, JavaScript, Salesforce.com Apex and Visualforce,
                    Kotlin, Swift, Modelica, PLSQL, Apache Velocity, JSP, WSDL, Maven POM, HTML, XML and XSL.
                    Scala is supported, but there are currently no Scala rules available.
                </p>
                <p>
                    Additionally, it includes <strong>CPD</strong>, the copy-paste-detector. CPD finds duplicated code in
                    Coco, C/C++, C#, Dart, Fortran, Gherkin, Go, Groovy, HTML, Java, JavaScript, JSP, Julia, Kotlin,
                    Lua, Matlab, Modelica, Objective-C, Perl, PHP, PLSQL, Python, Ruby, Salesforce.com Apex and
                    Visualforce, Scala, Swift, T-SQL, Typescript, Apache Velocity, WSDL, XML and XSL.
                </p>
                <br/>
            </div>
        </div>
    </section>
