<!-- Bootstrap Core CSS -->
    <link href="{{ "/css/bootstrap-5.2.3.min.css" | relativize_url }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ "/css/landing-page.css" | relativize_url }}" rel="stylesheet">
    <link href="{{ "/css/syntax.css" | relativize_url }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ "/css/font-awesome-4.7.0.min.css" | relativize_url }}" rel="stylesheet" type="text/css">
    <link href="{{ "/css/font-lato.css" | relativize_url }}" rel="stylesheet" type="text/css">
