<!-- Downloads Section -->
<section id="downloads" class="container content-section">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <br/><br/>
          <h2 class="text-center">Downloads</h2>
          <br/>

          <h3>{{ site.pmd.latestVersion }} ({{ site.pmd.latestVersionDate }})</h3>
          <ul>
              <li><a href="https://pmd.github.io/pmd-{{ site.pmd.latestVersion }}/pmd_release_notes.html">Release Notes</a></li>
              <li><a href="https://github.com/pmd/pmd/releases/download/pmd_releases%2F{{ site.pmd.latestVersion }}/pmd-bin-{{ site.pmd.latestVersion }}.zip">Download</a>
                  (<a href="https://github.com/pmd/pmd/releases/download/pmd_releases%2F{{ site.pmd.latestVersion }}/pmd-src-{{ site.pmd.latestVersion }}.zip">Sourcecode</a>,
                   <a href="https://github.com/pmd/pmd/releases/download/pmd_releases%2F{{ site.pmd.latestVersion }}/pmd-doc-{{ site.pmd.latestVersion }}.zip">Documentation</a>)</li>
              <li><a href="https://pmd.github.io/pmd-{{ site.pmd.latestVersion }}/index.html">Online Documentation</a></li>
          </ul>

          {% for download in site.pmd.downloads %}
          <h3>{{ download.version }} ({{ download.date }})</h3>
          <ul>
              <li><a href="https://pmd.github.io/pmd-{{ download.version }}/overview/changelog.html">Release Notes</a></li>
              <li><a href="https://github.com/pmd/pmd/releases/download/pmd_releases%2F{{ download.version }}/pmd-bin-{{ download.version }}.zip">Download</a>
                  (<a href="https://github.com/pmd/pmd/releases/download/pmd_releases%2F{{ download.version }}/pmd-src-{{ download.version }}.zip">Sourcecode</a>,
                   <a href="https://github.com/pmd/pmd/releases/download/pmd_releases%2F{{ download.version }}/pmd-doc-{{ download.version }}.zip">Documentation</a>)</li>
              <li><a href="https://pmd.github.io/pmd-{{ download.version }}/index.html">Online Documentation</a></li>
          </ul>
          {% endfor %}

        </div>
    </div>
</section>
