<!-- Downloads Section -->
<section id="downloads" class="container content-section">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <br/><br/>
          <h2 class="text-center">Downloads</h2>
          <br/>

          {% for download in site.pmd.versions %}
          <h3>{{ download.version }} ({{ download.date }})</h3>
          <ul>
              <li><a href="https://docs.pmd-code.org/pmd-doc-{{ download.version }}/pmd_release_notes.html">Release Notes</a></li>
              <li><a href="https://github.com/pmd/pmd/releases/download/pmd_releases%2F{{ download.version }}/pmd-dist-{{ download.version }}-bin.zip">Download</a>
                  (<a href="https://github.com/pmd/pmd/releases/download/pmd_releases%2F{{ download.version }}/pmd-dist-{{ download.version }}-src.zip">Sourcecode</a>,
                  <a href="https://github.com/pmd/pmd/releases/download/pmd_releases%2F{{ download.version }}/pmd-dist-{{ download.version }}-doc.zip">Documentation</a>)</li>
              <li><a href="https://docs.pmd-code.org/pmd-doc-{{ download.version }}/index.html">Online Documentation</a></li>
          </ul>
          {% endfor %}

        </div>
    </div>
</section>
