<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a class="page-scroll" href="{{ "/#home" | relativize_url }}">Home</a>
                    </li>
                    <li class="list-inline-item footer-menu-divider">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="https://docs.pmd-code.org/latest/">Documentation</a>
                    </li>
                    <li class="list-inline-item footer-menu-divider">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="https://github.com/pmd/pmd/issues">Bugs</a>
                    </li>
                    <li class="list-inline-item footer-menu-divider">&sdot;</li>
                    <li class="list-inline-item">
                        <a class="page-scroll" href="{{ "/#about" | relativize_url }}">About</a>
                    </li>
                    <li class="list-inline-item footer-menu-divider">&sdot;</li>
                    <li class="list-inline-item">
                        <a class="page-scroll" href="{{ "/#news" | relativize_url }}">News</a>
                    </li>
                    <li class="list-inline-item footer-menu-divider">&sdot;</li>
                    <li class="list-inline-item">
                        <a class="page-scroll" href="{{ "/#support" | relativize_url }}">Support</a>
                    </li>
                    <li class="list-inline-item footer-menu-divider">&sdot;</li>
                    <li class="list-inline-item">
                        <a class="page-scroll" href="{{ "/#downloads" | relativize_url }}">Downloads</a>
                    </li>
                    <li class="list-inline-item footer-menu-divider">&sdot;</li>
                    <li class="list-inline-item">
                        <a class="page-scroll" href="{{ "/#plugins" | relativize_url }}">Plugins</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">{{ site.copyright }}</p>
            </div>
            <div class="col-md-4">
                {{ site.credits }}
            </div>
        </div>
    </div>
</footer>
