<nav class="navbar fixed-top navbar-expand-lg" id="navbar-top">
    <div class="container">
        <a class="navbar-brand" href="{{ "/" | relativize_url }}"><i class="fa fa-home" aria-hidden="true"></i> PMD Source Code Analyzer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active page-scroll" aria-current="page" href="{{ "/#home" | relativize_url }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://docs.pmd-code.org/latest/">Documentation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/pmd/pmd/issues">Bugs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="{{ "/#about" | relativize_url }}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="{{ "/#news" | relativize_url }}">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="{{ "/#downloads" | relativize_url }}">Downloads</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="{{ "/#support" | relativize_url }}">Support</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="{{ "/#plugins" | relativize_url }}">Plugins</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
