<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="{{ "/#home" | relativize_url }}"><i class="fa fa-home" aria-hidden="true"></i> PMD Source Code Analyzer</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="https://docs.pmd-code.org/latest/">Documentation</a>
                </li>
                <li>
                    <a href="https://github.com/pmd/pmd/issues">Bugs</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{ "/#about" | relativize_url }}">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{ "/#news" | relativize_url }}">News</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{ "/#downloads" | relativize_url }}">Downloads</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{ "/#support" | relativize_url }}">Support</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{ "/#plugins" | relativize_url }}">Plugins</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
