<section id="home">
<!-- Header -->
	<div class="intro-header">

		<div class="container">

			<div class="row">
                <div class="col-lg-3">
                    <img src="img/pmd_logo.png" alt="PMD - Don't shoot the messenger">
                </div>
				<div class="col-lg-9">
					<div class="intro-message">
						<h1>{{ page.title }}</h1>
						<h3>{{ page.subTitle }}</h3>
						<hr class="intro-divider">
						<ul class="list-inline">
						  <li><a href="https://github.com/pmd/pmd/releases/download/pmd_releases%2F{{ site.pmd.latestVersion }}/pmd-bin-{{ site.pmd.latestVersion }}.zip" class="btn btn-default btn-lg"><i class="fa fa-download"></i> Download</a></li>
						  <li><a href="https://pmd.github.io/pmd-{{ site.pmd.latestVersion }}/" class="btn btn-default btn-lg"><i class="fa fa-book"></i> Documentation</a></li>
						</ul>
                        <hr class="intro-divider">
                        Latest Version: {{ site.pmd.latestVersion }} ({{ site.pmd.latestVersionDate }})<br/>
                        <a href="https://pmd.github.io/pmd-{{ site.pmd.latestVersion }}/pmd_release_notes.html">Release Notes</a> |
                        <a href="https://github.com/pmd/pmd">Source</a>

					</div>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->
</section>
