    <!-- News Section -->
    <section id="news" class="container content-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2 class="text-center">News</h2>
              <br/>

              <ul class="text-left">
              {% for post in site.posts limit:5 %}
                <li><a href="{{ post.url }}">{{ post.date | date_to_string }}: {{ post.title }}</a></li>
              {% endfor %}
              </ul>

              <a href="{{ site.baseUrl }}/news/">All news</a>
            </div>
        </div>
    </section>
