<!-- Plugins Section -->
<section id="plugins" class="container content-section">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <br/><br/>
          <h2 class="text-center">Plugins</h2>
          <br/>

          <ul>
            <li><a class="externalLink" href="https://maven.apache.org/plugins/maven-pmd-plugin/">Maven PMD plugin</a></li>
            <li><a class="externalLink" href="https://docs.gradle.org/current/userguide/pmd_plugin.html">Gradle: The PMD Plugin</a></li>
            <li><a href="https://docs.pmd-code.org/latest/pmd_userdocs_tools.html#eclipse">Eclipse plugin</a></li>
            <li><a class="externalLink" href="https://github.com/sqe-team/sqe">NetBeans plugin</a></li>
            <li><a href="https://docs.pmd-code.org/latest/pmd_userdocs_tools.html#jbuilder">JBuilder plugin</a></li>
            <li><a href="https://docs.pmd-code.org/latest/pmd_userdocs_tools.html#jdeveloper">JDeveloper plugin</a></li>
            <li><a href="https://docs.pmd-code.org/latest/pmd_userdocs_tools.html#idea">IntelliJ IDEA plugin</a></li>
          </ul>

        </div>
    </div>
</section>
