<!-- Plugins Section -->
<section id="plugins" class="container content-section">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <br/><br/>
          <h2 class="text-center">Plugins</h2>
          <br/>

          <p>
            PMD has been integrated into various tools as a plugin. This list is just a small extract.
            See <a href="https://docs.pmd-code.org/snapshot/pmd_userdocs_tools_ide_plugins.html">IDE Plugins</a>,
            <a href="https://docs.pmd-code.org/latest/pmd_userdocs_tools_ci.html">CI Plugins</a> and
            <a href="https://docs.pmd-code.org/latest/pmd_userdocs_tools.html">Other Integrations</a> for a more
            complete list.
          </p>

          <ul>
            <li><a class="externalLink" href="https://maven.apache.org/plugins/maven-pmd-plugin/">Maven PMD plugin</a></li>
            <li><a class="externalLink" href="https://docs.gradle.org/current/userguide/pmd_plugin.html">Gradle: The PMD Plugin</a></li>
            <li><a class="externalLink" href="https://marketplace.eclipse.org/content/eclipse-pmd">Eclipse: eclipse-pmd</a></li>
            <li><a class="externalLink" href="https://marketplace.eclipse.org/content/pmd-eclipse-plugin">Eclipse: pmd-eclipse-plugin</a></li>
            <li><a class="externalLink" href="https://plugins.jetbrains.com/plugin/28935-pmd-x">IntelliJ: PMD X</a></li>
            <li><a class="externalLink" href="https://plugins.jetbrains.com/plugin/1137-pmd">IntelliJ: PMD</a></li>
            <li><a class="externalLink" href="https://marketplace.visualstudio.com/items?itemName=chuckjonas.apex-pmd">VS Code: Apex PMD</a></li>
            <li><a class="externalLink" href="https://marketplace.visualstudio.com/items?itemName=cracrayol.pmd-java">VS Code: PMD for Java</a></li>
          </ul>

        </div>
    </div>
</section>
