    <!-- Quickstart Section -->
    <section id="quickstart" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
              <br/><br/>
              <h2>QuickStart</h2>
              <br/>
              See also <a href="https://pmd.github.io/pmd-{{ site.pmd.latestVersion }}/pmd_userdocs_installation.html">Getting Started</a>

              <div class="text-left">
                  <ul class="nav nav-tabs" role="tablist">
                      <li role="presentation" class="active"><a href="#linux" aria-controls="linux" role="tab" data-toggle="tab">Linux</a></li>
                      <li role="presentation"><a href="#macos" aria-controls="macos" role="tab" data-toggle="tab">MacOS</a></li>
                      <li role="presentation"><a href="#windows" aria-controls="windows" role="tab" data-toggle="tab">Windows</a></li>
                      <li role="presentation"><a href="#windows-chocolatey" aria-controls="windows-chocolatey" role="tab" data-toggle="tab">Windows (Chocolatey)</a></li>
                  </ul>

                  <div class="tab-content">
                      <div role="tabpanel" class="tab-pane active" id="linux">
{% highlight bash %}
$ cd $HOME
$ wget https://github.com/pmd/pmd/releases/download/pmd_releases%2F{{ site.pmd.latestVersion }}/pmd-bin-{{ site.pmd.latestVersion }}.zip
$ unzip pmd-bin-{{ site.pmd.latestVersion }}.zip
$ alias pmd="$HOME/pmd-bin-{{ site.pmd.latestVersion }}/bin/run.sh pmd"
$ pmd -d /usr/src -R rulesets/java/quickstart.xml -f text
{% endhighlight %}
                      </div>
                      <div role="tabpanel" class="tab-pane" id="macos">
{% highlight bash %}
$ cd $HOME
$ curl -OL https://github.com/pmd/pmd/releases/download/pmd_releases%2F{{ site.pmd.latestVersion }}/pmd-bin-{{ site.pmd.latestVersion }}.zip
$ unzip pmd-bin-{{ site.pmd.latestVersion }}.zip
$ alias pmd="$HOME/pmd-bin-{{ site.pmd.latestVersion }}/bin/run.sh pmd"
$ pmd -d /usr/src -R rulesets/java/quickstart.xml -f text
{% endhighlight %}
                      </div>
                      <div role="tabpanel" class="tab-pane" id="windows">
                          <ol>
                              <li>Download <a href="https://github.com/pmd/pmd/releases/download/pmd_releases%2F{{ site.pmd.latestVersion }}/pmd-bin-{{ site.pmd.latestVersion }}.zip">pmd-bin-{{ site.pmd.latestVersion }}.zip</a></li>
                              <li>Extract the zip-archive, e.g. to <code>C:\pmd-bin-{{ site.pmd.latestVersion }}</code></li>
                              <li>Add folder <code>C:\pmd-bin-{{ site.pmd.latestVersion }}\bin</code> to PATH, either</li>
                              <ol>
                                  <li>Permanently: Using System Properties dialog > Environment variables > Append to PATH variable</li>
                                  <li>Temporarily, at command line: <code>SET PATH=C:\pmd-bin-{{ site.pmd.latestVersion }};%PATH%</code></li>
                              </ol>
                              <li>Execute at command line: <code>pmd.bat -d c:\src -R rulesets/java/quickstart.xml -f text</code></li>
                          </ol>
                      </div>
                      <div role="tabpanel" class="tab-pane" id="windows-chocolatey">
                          <ol>
                              <li>Install <a href="https://chocolatey.org/">Chocolatey</a>, if you don't already have it!</li>
                              <li>Install PMD: <code>choco install -y pmd</code></li>
                              <li>Run from the command-line! <code>pmd -d c:\src -R rulesets/java/quickstart.xml -f text</code></li>
                          </ol>
                      </div>
                  </div>

                  Checkout the <a href="https://pmd.github.io/pmd-{{ site.pmd.latestVersion }}/pmd_rules_java.html">existing rules for Java</a>.
              </div>

              </div>
        </div>
    </section>
