<!-- Support Section -->
<section id="support" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <br/><br/>
          <h2>Support</h2>
          <br/>

          <div class="text-left">
              <h3>Need help?</h3>
              <ul>
                <li>Look for common question on <a href="https://stackoverflow.com/questions/tagged/pmd">StackOverflow</a></li>
                <li>Ask questions in the <a href="https://sourceforge.net/p/pmd/discussion/">Forum</a></li>
                <li>or join the <a href="https://lists.sourceforge.net/lists/listinfo/pmd-devel">Mailing List</a>
                  (<a class="externalLink" href="http://java-pmd.30631.n5.nabble.com/">archive1</a>,
                  <a class="externalLink" href="http://blog.gmane.org/gmane.comp.java.audit.pmd.devel">archive2</a>)</li>
                <li>Found a bug? <a href="https://github.com/pmd/pmd/issues">Bug tracker</a></li>
                <li>Source Code: <a class="externalLink" href="https://github.com/pmd/pmd">Check it out on github</a></li>
              </ul>

              <h3>Get Involved</h3>
              <p>
                  See <a href="https://github.com/pmd/pmd/blob/master/CONTRIBUTING.md">How to contribute to PMD</a>
                  and <a href="https://github.com/pmd/pmd/blob/master/BUILDING.md">How to build PMD</a>.
                  <br>
                  Our license: <a href="http://pmd.sourceforge.net/license.html">BSD-style</a>.
              </p>

          </div>

        </div>
    </div>
</section>
