<!-- Support Section -->
<section id="support" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <br/><br/>
          <h2>Support</h2>
          <br/>

          <div class="text-left">
              <h3>Need help?</h3>
              <ul>
                <li>How do I? -- Ask a question on <a href="https://stackoverflow.com/questions/tagged/pmd">StackOverflow</a>.</li>
                <li>I got this error, why? -- Ask a question on <a href="https://stackoverflow.com/questions/tagged/pmd">StackOverflow</a>.</li>
                <li>I got this error and I'm sure it's a bug -- file an <a href="https://github.com/pmd/pmd/issues">issue</a>.</li>
                <li>I have an idea/request/question -- file an <a href="https://github.com/pmd/pmd/issues">issue</a>.</li>
                <li>I have a quick question -- ask on our <a href="https://app.gitter.im/#/room/#pmd_pmd:gitter.im">Gitter chat</a>.</li>
                <li>Where's your documentation? -- <a href="https://docs.pmd-code.org/latest/">https://docs.pmd-code.org/latest/</a>.</li>
              </ul>

              <h3>Get Involved</h3>
              <p>
                  See <a href="https://github.com/pmd/pmd/blob/master/CONTRIBUTING.md">How to contribute to PMD</a>
                  and <a href="https://github.com/pmd/pmd/blob/master/BUILDING.md">How to build PMD</a>.
              </p>
              <p>
                  Our license: <a href="https://github.com/pmd/pmd/blob/master/LICENSE">BSD-style</a>.
              </p>
              <p>
                  Source Code: <a class="externalLink" href="https://github.com/pmd/pmd">Check it out on github</a>
              </p>

          </div>

        </div>
    </div>
</section>
