<!DOCTYPE html>
<html>
    {% include head.html %}

    <body>
        {% include header.html %}
        {% include home.html %}
        <div class="content-section-a">
            {% include quickstart.html %}
        </div>
        <div class="content-section-b">
            {% include about.html %}
        </div>
        <div class="content-section-a">
            {% include news.html %}
        </div>
        <div class="content-section-b">
            {% include downloads.html %}
        </div>
        <div class="content-section-a">
            {% include support.html %}
        </div>
        <div class="content-section-b">
            {% include plugins.html %}
        </div>
        {% include footer.html %}
        {% include js.html %}
    </body>
</html>
