<!DOCTYPE html>
<html>
    {% include head.html %}

    <body>
        {% include header.html %}

        <section id="news" class="container content-section text-center">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                  <br/><br/>
                  <h2>News</h2>
                  <br/>

                  <ul class="text-start">
                  {% for post in site.posts %}
                    <li><a href="{{ post.url | relativize_url }}">{{ post.date | date_to_string }}: {{ post.title }}</a></li>
                  {% endfor %}
                  </ul>
                </div>
            </div>
        </section>

        {% include footer.html %}
        {% include js.html %}
    </body>
</html>
